body {
    display: flex;
    flex-direction: column;
    font-family: "Arial", sans-serif;
    margin: 0px;
    font-size: 16px;
}

/* Header */

.header {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    align-items: center;
    padding: 0px 150px;
}

.header-1-title {
    color: #F9FAF8; 
    margin-right: auto;
    font-size: 24px;
    font-weight: 800;
}

.header-1-links {
    color: #E5E7EB;   
    display: flex;
    gap: 10px;
    list-style-type: none;
    font-size: 18px;
}

a {
    color: #E5E7EB; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Container 1 */

.container-1 {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
}

.container-1a {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.container-1a-header {
    color: #F9FAF8; 
    font-size: 48px;
    font-weight: 800;
}

.container-1a-text {
    color: #E5E7EB;  
    font-size: 18px;
}

.container-1b {
    align-self: stretch;
    background-color: grey;
    margin-left: auto;
    color: #E5E7EB;
    padding: 0px 100px; 
    
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.container-1-image {
    max-width: 80%;
    height: auto;
}

.button1 {
    background-color: #3882F6;
    font-size: 18px;
    color: #F9FAF8; 
    border-radius: 8px;
    border: 2px solid #3882F6;
    padding: 5px 15px;
    align-self: flex-start;

    margin-top: 10px;
}

.container-1-placeholder {

}

/* Container 2 images*/

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 20vw;

}

.container-2a {
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 20px;
    padding-top: 20px;
}

.container-2b {
    display: flex;
    flex-direction: row;
    text-align: center;
    list-style-type: none;
    gap: 20px;
    padding: 0px;
    margin-bottom: 0px;

}

.container-2b > li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li > div {
    padding-top: 10px;
}

.container-2-img {
    border: 5px solid #3882F6;
    border-radius: 10px;
    max-width: 60%;

}

/* Container 3 Quote */

.container-3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container-3-quote{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    padding: 80px;
}

.container-3a {
    color: #1F2937;
    font-size: 30px;
    font-style: italic;
    font-weight: 50;
    padding: 0px;

}

.container-3b {
    color: #1F2937;
    align-self: flex-end;
    font-weight: 800;
    font-size: 15px;
}



/* Container 4 sign up */

.container-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.container-4-card {
    background-color: #3882F6;
    color: #F9FAF8; 
    margin: 50px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 25px 50px;
}

.white-text {
    color: #F9FAF8; 
}

.bold-text {
    font-weight: 800;
}

.container-4a {
    max-width: 80%;
}

.container-4a-title {
    font-size: 20px;
}

.container-4b {
    align-self: center;
    margin-left: auto;
}
.button2 {
    background-color: #3882F6;
    color: #F9FAF8; 
    border-radius: 8px;
    border: 2px solid white;
    padding: 5px 25px;

}

/* Footer */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 30px;

}