body {
    display: flex;
    flex-direction: column;

}

/* Header */

.header {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    align-items: center;
}

.header-1-title {
    color: #F9FAF8; 
    margin-right: auto;
    font-size: 24px;
}

.header-1-links {
    color: #E5E7EB;   
    display: flex;
    gap: 10px;
    list-style-type: none;
    font-size: 18px;

}

/* Container 1 */

.container-1 {
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    justify-content: center;
    align-items: center;
}

.container-1a {
    display: flex;
    flex-direction: column;
}

.container-1a-header {
    color: #F9FAF8; 
    font-size: 48px;
    font-weight: 800;
}

.container-1a-text {
    color: #E5E7EB;  
    font-size: 18px;
}

.container-1b {

}

.button1 {
    background-color: #3882F6;
    color: #F9FAF8; 
    border-radius: 8px;
    border: 2px solid #3882F6;
    padding: 5px 15px;
}

/* Container 2 */

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-2b {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    padding: 0px;
    margin-bottom: 0px;
}

/* Container 3 */

.container-3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-3a {
    color: #1F2937;

}

.container-3b {
    color: #1F2937;
}

/* Container 4 */

.container-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.container-4-card {
    background-color: #3882F6;
    margin: 25px;
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.container-4a {

}

.container-4b {
    align-self: center;
}
.button2 {
    background-color: #3882F6;
    color: #F9FAF8; 
    border-radius: 8px;
    border: 2px solid white;
    padding: 5px 15px;
}

/* Footer */

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
}